[submodule "openspa"]
	path = openspa
	url = https://github.com/greenstatic/openspa
	branch = master
[submodule "openspa-extension-scripts"]
	path = openspa-extension-scripts
	url = https://github.com/greenstatic/openspa-extension-scripts.git
